<ion-header [translucent]="true">
  <ion-toolbar class="">
    <div class="buttons-container ion-margin-start">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-card class="item-container">
    <div class="content-container ion-margin">
      <ion-label class="ion-text-center">Użytkownicy wersji testowej jadą na wakcje za darmo!</ion-label>
      <div class="buttons-container ion-margin">
        <ion-button (click)="goHome()" fill="none" size="small" color="medium"  class="ion-margin-end">
          <img class="ion-margin-horizontal" src="assets/img/back-arrow.svg"/>
          <span>Powrót do Strony głównej</span>
        </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
