<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-no-padding">
      Lista dostępnych hoteli
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Lista dostępnych hoteli</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Wybierz coś dla siebie
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Sprawdź warunki wynajmu i zarezerwuj już dziś!
    </ion-card-content>
  </ion-card>
<!--  <ion-card class="item-container loop-item" data-hotel="hotel-{{hotel[0]}}" *ngFor="let hotel of hotels">-->
  <ion-card *ngFor="let hotel of hotels" class="item-{{hotel[0]}} item-container loop-item">
    <div (click)="openDetailsWithState(hotel[0])"  class="item ion-no-padding ion-margin-bottom">
      <div class="row ion-no-padding">
        <div class="column ion-no-padding">
          <div class="thumb-container ion-margin-bottom">
            <div class="img-container">
              <img src="assets/hotels/hotel-{{hotel[0]}}/thumb.jpg"/>
            </div>
          </div>
          <div class="content-container ion-margin-start ion-margin-bottom">
            <ion-label color="" >Hotel {{hotel[1]}}, {{hotel[2]}}, {{hotel[3]}}</ion-label>
          </div>
          <div class="buttons-container ion-margin-start">
            <ion-button (click)="openDetailsWithState(hotel[0])" fill="outline" size="small" >Przeglądaj</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card class="item-container last-item-info">
    <div class="item ion-no-padding">
      <div class="row ion-no-padding">
        <div class="column ion-no-padding">
          <div class="thumb-container">
            <div class="img-container">
              <img src="assets/hotels/backgrounds/item-background.jpg"/>
            </div>
          </div>
          <div class="content-container">
            <ion-label size="large">Więcej ofert wkrótce!</ion-label>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
