<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="buttons-container ion-margin-start">
      <ion-button  routerDirection="back" href="/" fill="outline" size="small" color="medium" slot="end" class="ion-margin-end">Wstecz</ion-button>
    </div>
    <ion-title class="ion-no-padding">
      Hotel jakiś
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Hotel jakiś</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Uzyskaj 10% zniżki!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Więcej informacji w podsumowaniu zamówienia
    </ion-card-content>
  </ion-card>

  <ion-card class="item-container">
    <div class="item ion-no-padding ion-margin-bottom">
      <div class="row ion-no-padding">
        <div class="column ion-no-padding">
          <div class="thumb-container ion-margin-bottom">
            <div class="img-container">
              <img src="assets/hotels/hotel-2/thumb.jpg"/>
            </div>
          </div>
          <div class="content-container ion-margin-start ion-margin-bottom">
            <div class="base-info-container">
              <div class="info-item">
                <div class="info-item-label">Opinia</div>
                <div class="info-item-value">10.0</div>
              </div>
              <div class="info-item">
                <div class="info-item-label">Cena</div>
                <div class="info-item-value">200zł</div>
              </div>
            </div>
            <div class="description" >Dostępne udogodnienia rekreacyjne to centrum fitness
              i wypożyczalnia rowerów. Ten hotel oferuje udogodnienia takie
              jak bezpłatny bezprzewodowy dostęp do Internetu, usługi weasel
              i pomoc w organizacji biletów/wycieczek.W obiekcie takim
              jak hotel do dyspozycji gości są restauracja, a także obsługa
              pokojowa (w określonych godzinach). Ożywcze napoje znajdziesz
              w jednym z lokali: bar/salon klubowy. Śniadanie w formie
              bufetu jest podawane codziennie od 7.00 do 10.00 za opłatą.
              Udogodnienia biznesowe to bezpłatny przewodowy dostęp do
              Internetu, bezpłatne czasopisma w holu oraz usługi pralni
              chemicznej.</div>
          </div>
          <div class="buttons-container book-buttons-container ion-margin-start">
            <ion-button fill="outline" size="small" color="primary" slot="end" >Rezerwuj</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-card>

</ion-content>
