<ion-header [translucent]="true">
  <ion-toolbar class="">
    <div class="buttons-container ion-margin-start">
      <ion-button (click)="goBack()" fill="none" size="small" color="medium"  class="ion-margin-end">
        <img src="assets/img/back-arrow.svg"/>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Przeglądaj hotel</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Uzyskaj 10% zniżki!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Więcej informacji w podsumowaniu zamówienia
    </ion-card-content>
  </ion-card>

  <ion-card class="item-container" *ngIf="data">
    <div class="item ion-no-padding ion-margin-bottom">
      <div class="row ion-no-padding">
        <div class="column ion-no-padding">
          <div class="thumb-container ion-margin-bottom">
            <div class="img-container">
              <img src="assets/hotels/hotel-{{data[0]}}/thumb.jpg"/>
            </div>
          </div>
          <div class="buttons-container book-buttons-container ion-margin">
            <ion-button fill="outline" size="small" color="primary" slot="end" (click)="openBook1WithService(data[0])" >Rezerwuj</ion-button>
          </div>
          <div class="content-container ion-margin-start ion-margin-bottom">
            <ion-label >Hotel {{data[1]}}, {{data[2]}}, {{data[3]}}</ion-label>
          </div>
          <div class="content-container ion-margin-start ion-margin-bottom">
            <div class="base-info-container">
              <div class="info-item">
                <div class="info-item-value stars-container">
<!--                  <img class="star-img" src="assets/img/star.png"/>-->
                    <div class="stars-container-in" *ngFor='let in of counter(this.data[5]) ;let i = index'>
                                        <img class="star-img" src="assets/img/star.png"/>
                    </div>
                </div>
              </div>
              <div class="info-item">
                <div class="info-item-label">Opinia:</div>
                <div class="info-item-value">{{data[4]}}</div>
              </div>
              <div class="info-item">
                <div class="info-item-label">Cena:</div>
                <div class="info-item-value">{{data[6]}}zł (doba)</div>
              </div>
              <div class="info-item rooms-item">
                <div class="info-item-label">Dostępne warianty:</div>
                <div class="info-item-value">
                  <div *ngFor="let item of data[8]" class="info-item-value-in">{{item}}</div>
                </div>
              </div>
            </div>
            <div class="description" >{{data[7]}}</div>
          </div>
          <div class="buttons-container book-buttons-container ion-margin-start">
            <ion-button fill="outline" size="small" color="primary" slot="end" (click)="openBook1WithService(data[0])" >Rezerwuj</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
  <ion-card class="item-container last-item-info" (click)="goHome()" *ngIf="!data">
    <div class="item ion-no-padding">
      <div class="row ion-no-padding">
        <div class="column ion-no-padding">
          <div class="thumb-container">
            <div class="img-container">
              <img src="assets/hotels/backgrounds/item-background.jpg"/>
            </div>
          </div>
          <div class="content-container">
            <ion-label size="large">Zobacz wszystkie hotele!</ion-label>
          </div>
        </div>
      </div>
    </div>
  </ion-card>

</ion-content>
